body{
background:black;
color:hotpink;
font-family:Courier New, monospace;
text-align:center;
}
a{color:cyan;}
.rainbow{
animation:rainbow 3s infinite;
}
@keyframes rainbow{
0%{color:red;}20%{color:orange;}40%{color:yellow;}60%{color:green;}80%{color:blue;}100%{color:violet;}
}